#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# Monitoring VM Passwords
mon_root_password: <root password for Prometheus, Sensu & Logstash monitoring VMs>
mon_admin_password: <monadmin password for Prometheus Sensu & Logstash monitoring VMs>
centosadm_password: <centos password for Packer VMs>
repo_password: <root password for repo files>
# Storage Passwords
san_user: admin
san_password: <Password used by Overcloud nodes for stortage array>
{% if hw_type == 'hpe' %}
# HPE Node Passwords
chassis_password: <Password used by Overcloud nodes for Chassis>
# Physical Host Passwords
director_host_password: <DL Host for Director VMs>
{% if number_of_dl_servers == '2' %}
mon_host_password: <DL Host for Monitoring VMs>
{% endif %}
{% else %}
# DELL Node Passwords
idrac_password: <Password used by Overcloud nodes for DELL>
{% endif %}
# OpenStack VM Passwords
director_vm: <Password used for stack>
# Sensu shared password
sensu_shared_passwd: secret
# Uchiwa admin password
uchiwa_admin: admin
# Uchiwa guest password
uchiwa_guest: guest
# HPE ilo credentials
hpe_user: bete
hpe_pass: 
