#!/bin/bash
cloud_dir=$(dirname $(readlink -f $0))
# '$@' means arguments passed to start_deploy.sh will be passed to ansible-playbook command
# For example, run ./start_deploy.sh --skip-tags deploy_director to skip the director deployment (for example if director is already deployed).
{% if storage_type == 'vnx' or storage_type == 'unity' %}
{% set storage_tags = storage_choices | difference(['vnx','unity']) | join(',') %}
{% else %}
{% set storage_tags = storage_choices | difference([ storage_type ]) | join(',')  %}
{% endif %}
ansible-playbook -i {{inventory_file}} ../../monitoring_automation/buildmonitoring.yml -e cloud_dir=${cloud_dir} -e @{{cloudname}}_monitoring.yml -e @passwords.yml --ask-vault-pass --skip-tags {{ storage_tags }} $@
