{
  "contacts": {
    "support": {
      "email": {
        "to": "{{ admin_mail }}"
      }
    },
    "{{ support_1 }}": {
      "email": {
        "to": "{{ support_1_email }}"
      }
    }
  }
}
