resource "libvirt_volume" "{{ prometheus_shortname }}_vol"{
  name = "{{ prometheus_shortname }}_vol"
  pool = "{{ virsh_storage_pool }}"
  base_volume_id = libvirt_volume.centos_base.id
  // 200GB image
  size = 214748364800
}

# Use CloudInit to add our ssh-key to the instance
resource "libvirt_cloudinit_disk" "{{ prometheus_shortname }}_cloudinit_disk" {
  name = "{{ prometheus_shortname }}_cloudinit_disk"
  pool = "{{ virsh_storage_pool }}"

  user_data = <<EOF
#cloud-config
chpasswd:
  expire: False
  list:
    - root:$6$1/wSovbfjasgn69x$UxUMv3sI.KZQBUzT53LBzKhtzOfIWd9K0MPLUtF1rhxPlXQLH27QPgNjvL1ol7GnxrXHW4sLCerawHIUGqGza1

local-hostname: "{{ prometheus_shortname }}"
disable_root: 0
ssh_pwauth: 1
users:
  - name: root
runcmd:
  - sed -i -e 's/^UseDNS.*/UseDNS no/g' /etc/ssh/sshd_config
  - systemctl restart sshd
  - systemctl disable NetworkManager
  - sed -i -e '/192.168.122/d' /etc/resolv.conf
growpart:
  mode: auto
  devices: ['/']
EOF
network_config = file("prometheus_net_config")
meta_data = <<EOF
instance-id: "{{ prometheus_shortname }}-001"
local-hostname: "{{ prometheus_shortname }}"
EOF
}
resource "libvirt_domain" "{{ prometheus_shortname }}" {
  name = "{{ prometheus_shortname }}"
  memory = "8192"
  vcpu = 4
  network_interface {
    bridge= var.ext_bridge

  }
  network_interface {
    bridge= var.prov_bridge
 }
  cloudinit = libvirt_cloudinit_disk.{{ prometheus_shortname }}_cloudinit_disk.id
  disk {
   volume_id = libvirt_volume.{{ prometheus_shortname }}_vol.id
   scsi = "true"
  }
  video {
    type = "vga"
  }
  graphics {
    type = "vnc"
    listen_type = "address"
 }
}


resource "libvirt_volume" "centos_base"{
  name = "{{ infra_images['prometheus_img_name'] }}"
  pool = "{{ virsh_storage_pool }}"
  format = "qcow2"
}